
body, h1, h2, p {
  font-family: 'Your-Font-Name', sans-serif;
}

.dashboard-page {
    background: linear-gradient(180deg, #001f3f, #003366, #005f99, #669FAC);
    color: #ffffff;  
    padding: 20px;
    height: 100vh; 
  }


.dashboard-page h1 {
  font-size: 3rem; 
  font-weight: bold; 
  color: #ffffff; 
  text-align: center; 
  margin-bottom: 20px; 
  letter-spacing: 1.5px; 
}
  
  .dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 20px;
  }
  
  .dashboard-container .dashboard-box {
    /*background-color: rgb(50, 75, 90); */ /* Slightly lighter blue to make containers stand out */
    background-color: #073d5d; 
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #ffffff;  /* White border */
    box-shadow: 0px 0px 10px 5px rgba(0, 51, 102, 0.6);  /* Blue glow shadow effect */
  }
  
  .dashboard-box h2 {
    color: #ffffff; 
    padding: 10px;
    font-weight: bold; 
  }

  .dashboard-box-bottom-right {
    grid-column: 2;
  }
  
  .chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .pie-chart-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
  }
  
  .chart {
    flex: 1;
    margin: 0 10px;
    height: 300px;
    border-radius: 10px;  /* Add rounded corners to the chart as well */
    border: 2px solid #ffffff;  /* White border around the charts */
    box-shadow: 0px 0px 10px 5px rgba(0, 51, 102, 0.6);  /* Blue glow effect */
  }
  
  .sidebar-outer {
    background-color: transparent;  
    border: 5px solid rgba(0, 51, 102, 0.8);  
    border-radius: 20px;  
    padding: 5px;  
  }
  
  .sidebar {
    background-color: rgb(50, 75, 90);  
    border: 2px solid #ffffff;  /* White inner border */
    border-radius: 15px; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60px;
    height: auto;
  }
  

  .sidebar-icon {
    margin: 20px 0;
  }
  

  .sidebar-icon img {
    width: 40px; 
    height: auto;
  }
  
  button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  