.summary-container {
  position: relative;
  height: 100vh;
  background: url('../assets/boat.jpeg') no-repeat center center;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.risk-score-container {
  position: absolute;
  top: 1rem;
  left: 5rem;
  background: rgba(255, 255, 255, 0.5); 
  width: 45rem;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.risk-score-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.risk-score-value {
  font-size: 6rem; 
  font-weight: bold; 
}

.radial-progress {
  margin: 0 auto;
}

.weather-container {
  position: absolute;
  top: 2rem;
  right: 3.5rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

.weather-title {
  font-size: 1.7rem;
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: start;
  gap: 2rem;
  position: absolute;
  bottom: 4rem;
  left: 5rem;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.stat {
  padding: 1rem;
}

.stat-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.stat-value {
  font-size: 2rem;
  font-weight: bold;
  color: #1a73e8; /* Example color */
}

.buttons-container {
  position: absolute;
  bottom: 3.5rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  width: 500px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
